@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-background);
}

:root {
    --primary-background: #f5f5f5;
    --navbar-background: #fbfcfdb9;
    --background-button: #3c83f6;
    --header-color: #0f1729;
    --font-color: #161d2f;
    --secondary-font-color: #555555;
    --icon-backhround: #cadbf8;
    --icon-color: #5c97f7;
    --button-hover: #33ccbf;
    --border: #88888833;
    --boxes-background: #ffffff;
}

nav {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border);
}

.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.left span {
    font-size: 24px;
    font-weight: 600;
    color: var(--icon-color);
    background-color: var(--icon-backhround);
    padding: 7px;
    border-radius: 5px;
}

.left p {
    font-size: 15px;
    font-weight: 500;
    color: var(--header-color);
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login {
    background-color: transparent;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    color: var(--header-color);
    font-weight: 500;
    transition: all 0.2s ease;
    font-size: 15px;
}

.login:hover {
    background-color: var(--button-hover);
    color: #fff;
    border: none;
    cursor: pointer;
}

.get-started {
    background-color: var(--background-button);
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.get-started:hover {
    background-color: #2a6edb;
}

/* HERO SECTION */

#hero-section {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 15px 120px 15px;
    margin: auto;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hero-content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    color: var(--header-color);
    
}

.hero-content p {
    font-size: 19px;
    color: var(--secondary-font-color);
    margin: 50px 0;
    text-align: center;
} 

.hero-button {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

.hero-button .start-learning {
    background-color: var(--background-button);
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.hero-button .start-learning:hover {
    background-color: #2a6edb;
}

.hero-button .signin {
    background-color: transparent;
    padding: 15px 25px;
    border: 1px solid var(--border);
    border-radius: 15px;
    color: var(--font-color);
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.hero-button .signin:hover {
    background-color: var(--button-hover);
    color: #fff;
    border: 1px solid transparent;
}

/* PATH SECTION */

#path-section {
    height: auto;
    padding: 70px 15px 70px 15px;
}

.path-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.path-content h2 {
    font-size: 25px;
    color: var(--header-color);
    text-align: center;
}

.path-goal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-top: 30px;
}

.path-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    background-color: var(--boxes-background);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.path-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.path-item span {
    font-size: 20px;
    color: var(--icon-color);
    background-color: var(--icon-backhround);
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
}

.path-item h5 {
    font-size: 20px;
    color: var(--font-color);
    font-weight: 500;
}

.secondary {
    color: var(--secondary-font-color);
    font-size: 14px;
    line-height: 1.5;
}

/* NOTE SECTION */

#note-section {
    height: auto;
    padding: 70px 20px 70px 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.note-content {
    background-color: var(--boxes-background);
    padding: 50px 30px 50px 30px;
    border-radius: 20px;
    text-align: center;
}

.note-content h2 {
    font-size: 28px;
    color: var(--header-color);
}

.note-content p {
    font-size: 16px;
    color: var(--secondary-font-color);
    margin: 20px 0 30px 0;
}

.create-account {
    background-color: var(--background-button);
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.create-account:hover {
    background-color: #2a6edb;
}

/* FOOTER */

footer {
    height: auto;
    width: 100%;
    padding: 30px 15px 30px 15px;
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    font-size: 14px;
    color: var(--secondary-font-color);
}

/* LANDING PAGE RESPONSIVE EFFECTS */

@media (max-width: 990px) {
    .path-item {
        width: 40%;
    }
}

@media (max-width: 660px) {

    .path-item {
        width: 100%;
    }
}


@media (max-width: 600px) {

    .left {
        width: 100%;
        display: flex;
        text-align: left;
    }

    .right {
        display: none;
    }
}