* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
}

:root {
    --primary-background: #f5f5f5;
    --navbar-background: #fbfcfdb9;
    --background-button: #3c83f6;
    --header-color: #0f1729;
    --font-color: #161d2f;
    --secondary-font-color: #555555;
    --icon-background: #cadbf8;
    --icon-color: #5c97f7;
    --button-hover: #33ccbf;
    --border: #88888833;
    --boxes-background: #ffffff;
}

.signup-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.signup-header span {
    font-size: 24px;
    font-weight: 600;
    color: var(--icon-color);
    background-color: var(--icon-background);
    padding: 15px 10px;
    border-radius: 10px;
}

.signup-container {
    width: 400px;
    height: auto;
    padding: 30px;
    background-color: var(--boxes-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form {
    width: 100%;
}

.form-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.email-input input {
    width: 100%;
}

.input-group {
    margin-bottom: 20px;
}

.email-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-width: 400px;
}

.email-input input:focus {
    border-color: var(--icon-color);
}

.email-input i {
    margin-right: 10px;
    color: #888;
    font-size: 18px;
}

.email-input input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
}


.password-input input {
    width: 100%;
}

.input-group {
    margin-bottom: 20px;
}

.password-input {
    position: relative;
    max-width: 300px;
}

.password-input input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.password-input i {
    position: absolute;
    right: 10px;   /* nasa dulo ng input */
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 18px;
    cursor: pointer;
}
.password-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    max-width: 400px;
}

.password-input i {
    margin-right: 10px;
    color: #888;
    font-size: 18px;
    cursor: pointer;
}

.password-input input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
}


.confirm-password-input input {
    width: 100%;
}