* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-background);
}

:root {
    --primary-background: #f5f5f5;
    --navbar-background: #fbfcfdb9;
    --background-button: #3c83f6;
    --header-color: #0f1729;
    --font-color: #161d2f;
    --secondary-font-color: #555555;
    --icon-backround: #cadbf856;
    --icon-color: #5c97f7;
    --button-hover: #33ccbf;
    --border: #88888833;
    --boxes-background: #ffffff;
    --form-background: #e9e9e9;
    --blur-effect: rgba(255, 255, 255, 0.6);
}

nav {
    background-color: var(--blur-effect);
    padding: 15px 0px ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 5px 24px;
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.nav-header p span {
    font-size: 25px;
    font-weight: 600;
    color: var(--icon-color);
    background-color: var(--icon-backhround);
    padding: 10px 5px;
    border-radius: 10px;
    margin: 0px 10px 0px 0px;
}

.nav-header p  {
    font-size: 20px;
    font-weight: 400;
    color: var(--font-color);
}

.input-icon-search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon-search-bar input {
    padding: 10px 10px 10px 40px;
    border: 1px solid var(--border);
    border-radius: 5px;
    width: 350px;
    height: 35px;
    background-color: var(--form-background);
}

.input-icon-search-bar input::placeholder {
    color: var(--secondary-font-color);
    font-size: 14px;
}

.search-icon {
    position: absolute;
    left: 10px;
    font-size: 15px;
    color: var(--secondary-font-color);
}

.profile-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.notification {
    position: relative;
    font-size: 20px;
    color: var(--secondary-font-color);
    cursor: pointer;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 5px;
    transition: all .2s ease ;
}

.notification:hover {
    padding: 10px 10px;
    border-radius: 5px;
    color: var(--background-button);
}

.user-profile {
    align-items: center;
    gap: 10px;
    font-size: 30px;
    cursor: pointer;
}

.notification p {
    position: absolute;
    top: -1px;
    right: -1px;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.notification sup {
    color: var(--font-color);
    font-size: 10px;
    font-weight: 600;
    padding: 3px 6px;
    border-radius: 50%;
    display: inline-block;
    min-width: 18 px;
    text-align: center;
}

/* DASHBOARD SECTION */

#dashboard-section {
    width: 100%; /* full width para flexible */
    max-width: 1300px; /* limit para hindi masyadong malapad */
    padding: 32px 24px;
    margin: 0 auto; /* center sa screen */
}


.student-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 30px; */
}

.student-header h2 {
    font-size: 30px;
    font-weight: 600;
    color: var(--header-color);
    margin-bottom: 15px;
}

.student-header p {
    font-size: 16px;
    font-weight: 200;
    color: var(--secondary-font-color);
}

.student-grades {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 10;
    margin: 20px 0px 0px;
}

.grade-card {
    width: 300px;
    background-color: var(--boxes-background);
    padding: 25px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    transition: all 0.3s ease;
}

.grade-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
}

.subjects, 
.due-date, 
.task, 
.average {
    font-size: 17px;
    font-weight: 500;
    color: var(--secondary-font-color);
    margin-bottom: 10px;
}

.number {
    font-size: 30px;
    font-weight: 700;
    color: var(--font-color);
}

.subjects-icon span {
    font-size: 20px;
    color: var(--icon-color);
    background-color: var(--icon-backround);
    padding: 15px;
    border-radius: 10px;
}

.clock-icon span {
    font-size: 20px;
    color: rgb(167, 167, 37);
    background-color: var(--icon-backround);
    padding: 15px;
    border-radius: 10px;
}

.check-icon span {
    font-size: 20px;
    color: rgb(97, 175, 116);
    background-color: var(--icon-backround);
    padding: 15px;
    border-radius: 10px;
}

.average-icon span {
    font-size: 20px;
    color: rgb(56, 167, 175);
    background-color: var(--icon-backround);
    padding: 15px;
    border-radius: 10px;
}